:root {
    --background-color: #eee;
    --secondary-background-color: #ddd;
    --text: #222;
    --primary-color: #da291c;

    @media (prefers-color-scheme: dark) {
        --background-color: #111;
        --secondary-background-color: #222;
        --text: #eee;
        --primary-color: #b31f14;
    }
}
