* {
  --foreground-rgb: 34, 34, 34;
  --foreground: rgb(var(--foreground-rgb));
  --background-rgb: 238, 238, 238;
  --background: rgb(var(--background-rgb));

  @media screen and (prefers-color-scheme: dark) {
    --background-rgb: 51, 51, 51;
    --foreground-rgb: 238, 238, 238;
  }
}
