@use "consts.scss";
@use "fonts/poppins.css";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  margin: 0;
  font-family: Futura, Helvetica, Arial, sans-serif;
}

nav > ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}
